body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}


.header1
{

height: 70px;
width: 100%;
background-color: rgb(255, 255, 255);




}


@media  (max-width:950px) { 
    .logo {
        text-align: left; 
        margin-top: 10px;
        margin-left:30px ;
        height: 20px;
        width: 10px;
    }    
                            
            
        } 






.logo {
    /* text-align: center;  */
    margin-top: 10px;
    height: 20px;
    width: 10px;
}

.logo img {
    height: 62px;
    margin: 15px 0px 0px 616px;

    width: auto; 
}

.navbar {
    text-align: center;
    margin: 5px 300px 0px 10px;
}

.navbar ul {
    list-style-type: none; 
    padding: 0;
    display: flex;
    justify-content:right;           
    margin: 0 0 10 500;           
}

.navbar li {
    display: inline-block; 
    margin-right: 30px;   
}

.navbar li:last-child {
    margin-right: 0;      
}



.header2{
    height: 560px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    

}
.box1{

    width: 745px;
    height: 504px;
    /* background-color: rgb(0, 255, 242); */
  
    margin: 23px 0px -17px 140px;
    font-size: 50px;
    font-weight: bolder


}
.box2{

    width: 745px;
    height: 504px;
    /* background-color: blue; */
    display: flex;
    justify-content: right;
    margin: -486px 0px 187px 860px;
    
    
    }
    .page2{

display: flex;
justify-content: center;


    }

    @media  (max-width:910px) { 
.box1 {
           
            font-size: 30px;
            
        }
    }   


        
    


    @media (max-width: 1000px) {
        .box2 {
            height: 200px;
            width: 300px;
      display:flex ;
      justify-content: center;
            top: 12%;
            
        }
    }
    .Ser{


color: rgb(0, 0, 0);
font-size: 20px;
display: flex;
justify-content: center;
border: 4px soloid rgb(197, 255, 61)







    }
    .para{

        color: rgb(0, 0, 0);
        font-size: 15px;
        display: flex;
        justify-content: center;
        


    }

.container {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap; 
    margin: 0 auto;
}


.box3 {
    width: 500px;
    height: 350px;
    background-color: rgb(223, 223, 223);
    margin: 90px 100px 100px 77px; 
}


.box4 {
    
    width: 500px;
    height: 350px;
    background-color: #ececec;
    margin: 80px 0 100px 100px; 
}
.parent{
    display: flex;
}

